doctype html
html
  head
    title= "Update Custom Object Form | Integrating With HubSpot I Practicum"
  body
    h1= "Update Custom Object Form | Integrating With HubSpot I Practicum"
    p
      | This is the updates page content.

    form(action="/updated-cobj", method="post")
      

      label(for="Name") Name:
      br
      input(type="text", name="name", required)
      br

      label(for="Income") Income:
      br
      input(type="text", name="income", required)
      br

      label(for="Superpower") SuperPower:
      br
      input(type="superPower", name="superPower", required)
      br

      button(type="submit") Update 
      br

    // Link to return to the homepage
    a(href='/') Return to the homepage
